<div class="row">
    <h2 align="center">MANAGE SHOP</h2>
    <h2>Admin menu</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="manageitems">Manage items</a>
                    </li>
                    <li class="list-group-item">
                        <a href="additem">Add new item</a>
                    </li>
                    <li class="list-group-item">
                        <a href="userslist">Show users list</a>
                    </li>
                    <li class="list-group-item">
                        <a href="orderslist">Show orders list</a>
                    </li>
                </ul>
            </div>
        </div>
</div>