<script>
    (function ($) {
        jQuery.expr[':'].Contains = function(a,i,m){
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
        };

        function listFilter(header, list) {
            var form = $("<form>").attr({"class":"filterform","action":"#", "id" : "search"}),
                    input = $("<input>").attr({"class":"filterinput","id":"searchBox","type":"text", "placeholder" : "Type to search..."});
            $(form).append(input).appendTo(header);

            $(input)
                    .change( function () {
                        var filter = $(this).val();
                        if(filter) {
                            $(list).find(".Title:not(:Contains(" + filter + "))").parent().slideUp();
                            $(list).find(".Title:Contains(" + filter + ")").parent().slideDown();
                        } else {
                            $(list).find(".entry").slideDown();
                        }
                        return false;
                    })
                    .keyup( function () {
                        $(this).change();
                    });
        }

        $(function () {
            listFilter($("#header"), $("#list"));
        });
    }(jQuery));
    </script>
<body>
<div id="wrap">
    <div class="clearfix">
    <h2 id="header"></h2>
    <div id = "list">
        {{# each products }}
                {{# each this }}
                    <div class="col-md-15">
                        <div class="entry">
                            <div class="Title" id ="title">{{this.title}}</div>
                            <div class="info"> {{this.description}}</div>
                            <div class="clearfix">
                                <h5><a class="badge badge-success pull-left"  id="priceLabel"> $ {{ this.price }}</a></h5>
                                <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
        {{/each}}
    </div>
    </div>
</div>
</body>

